.container1 {
  display: flex;

  align-items: center;
  overflow: auto;
}
.container1 img {
  height: 200px;
  width: 200px;
}
.details {
  margin: 20px;
  height: 80%;
  width: 40%;
}
.details div {
  margin: 15px;
}

span {
  color: white;
}

@media screen and (max-width: 767px) {
  .container1 img {
    height: 50px;
    width: 50px;
  }
  .container1 {
    display: flex;

    /* align-items: center; */
    flex-direction: column;
    overflow: auto;
  }
  .details {
    margin: 2px;
    height: 80%;
    width: 70%;
  }
  .details div {
    margin: 5px;
  }
}
